html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: manipulation;
    background-color: #24292E;
    color: white;
    font-family: Arial, sans-serif;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 2rem;
}

.button {
    color: white;
    background-color: #3C4045;
    border: none;
    border-radius: 2rem;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    font-size: 2.5rem;
    cursor: pointer;
    margin-top: 20px;
}

img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin: 0.25rem;
}
