/* Reset default margin and padding */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

html {
    touch-action: manipulation;
}

/* Set a background color and center the content */
body {
    background-color: #3C4045;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure content takes up at least the full viewport height */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Style the header */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Style the navigation list */
ul {
    list-style-type: none;
    padding: 0;
    width: 80%; /* Adjust the width of the navigation list to take up most of the screen */
}

/* Style the navigation links */
li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #3C4045;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #ddd;
}

div {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    gap: 10px; /* Add some spacing between the images */
    margin-top: 20px; /* Add top margin to create space between the list and images */
}
/* Add CSS rule for the images */
img {
    max-width: 100%; /* Make sure the images don't exceed their original size */
    height: auto; /* Preserve the aspect ratio of the images */
}
#logo {
    max-width: 20vh;
    object-fit: contain;
}

/* Add responsive styles for mobile devices */
@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 7rem;
        margin-top: 20px;
    }

    a {
        font-size: 5rem;
        padding: 8px 16px;
    }

    #logo {
        max-width: 30rem;
    }
}
