html, body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: hidden;
    touch-action: manipulation;
    background-color: #24292E;
    color: white;
  }

  .leaderboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    color: white;
    background-color: #3C4045;
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 3rem;
  }


  h1 {
    font-size: 6rem;
  }

  th {
    font-size: 5rem;
    padding: 1rem;
  }

  td {
    font-size: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .profile {
    border-radius: 50%;
    max-width: 15rem;
    max-height: auto;
    object-fit: cover;
    margin-right: 1rem;
  }

  tr {
    border: 1rem solid #3C4045;
  }

  .rowContainer {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    width: 80vw;
  }

  .playerRow {
    display: flex;
    margin-top: 1rem;
  }

  .labelRow {
    display: flex;
    font-size: 3rem;
    width: 80vw;
  }

  .labelRow .wins {
    margin-left: auto;
  }

  .labelRow .name {
    margin-left: 16.25rem;
  }

  .playerRow .wins {
    margin-left: auto;
  }

