html, body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: hidden;
    touch-action: manipulation;
    background-color: #24292E;
    color: white;
  }

  .registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: .5rem;
  }

  label, input, select {
    font-size: 2rem;
  }

  label {
    margin-bottom: .25rem;
  }

  input {
    margin-bottom: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    color: white;
    background-color: #3C4045;
    border-radius: 2rem;
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin: .25rem;
  }

