.center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  width: 100%;
  text-align: center;
}

.info {
  height: 50%;
}

.special {
  height: 10%;
}

.inputs {
  height: 30%;
}



/* Styles for mobile devices */
@media only screen and (max-width: 1000px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: hidden;
  }

  div {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  table {
    width: 100%;
    margin: 0;
    background-color: #fff;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 1px;
    text-align: center;
    border: 1px solid black;
  }

  th {
    font-size: 24px;
    font-weight: bold;
    background-color: #f2f2f2;
  }

  .infoCell {
    height: 5%;
    font-size: 4vw;
    background-color: #efefef;
  }

  .scoreCell {
    min-width: 40px;
    max-width: 5vw;
  }

  .nameCell {
    max-width: 15vw;
  }

  .button {
    display: block;
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to auto */
    padding: 20px;
    font-size: 5vw;
    text-align: center;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .button:hover,
  .button:active,
  .button:focus {
    background-color: darkgray;
  }

  #quitButton {
    background-color: #f44336;
  }

  #quitButton:hover {
    background-color: #d32f2f;
  }
}
